.edit-trip {
  display: flex;
  flex-direction: row;
  
  #side-bar {
    width: 329px;
    margin-right: 20px;
    overflow-y: scroll;
    top: 88px;
    bottom: 0;
    left: 0;
    position: absolute;
  }

  #map-area {
    flex: 1;
    margin-left: 350px;
  }
}
