.edit-page {
  footer {
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
  }
}

.edit-trip {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  #side-bar {
    width: 329px;
    margin-right: 20px;
    overflow-y: scroll;
    top: 80px;
    bottom: 30px;
    left: 0;
    position: fixed;
  }

  #map-area {
    position: fixed;
    top: 60px;
    bottom: 30px;
    left: 350px;
    right: 0;
  }
}
